<!-- Begin .header -->
<header class="header cf" role="banner">
  <div class="header__section header__section--section1">
   {% include "atoms-logo" %}
  </div>
  <div class="header__section header__section--section2">
    {% include "atoms-link" with block1 %}
  </div>
  <div class="header__section header__section--section3">
    {% include "atoms-hamburger" %}
  </div>
</header>
<!-- End .header -->
