<!-- Begin .header -->
<header class="header cf" role="banner">
  <div class="header__section header__section--section1">
   {{ logo | raw }}
  </div>
  <div class="header__section header__section--section2">
    {{ block1 | raw }}
  </div>
  <div class="header__section header__section--section3">
    {{ hamburger | raw }}
  </div>
</header>
<!-- End .header -->
