{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
#}
<!-- Begin Footer -->
<footer class="footer" role="contentinfo">
  <div class="footer__section footer__section--section1">
    <span class="copyright">{{ copyrightText | raw }}</span>
  </div>
  <div class="footer__section footer__section--section2">
    {{ social | raw }}
  </div>
  <div class="footer__section footer__section--section3">
    {{ helpText | raw }}
  </div>
</footer>
<!-- End Footer -->
