.header{
  display: flex;
  align-items: center;
  padding: 5px 5px;
  &__section{
    &--section1{
      flex: 1;
      a{
        display: block;
        padding: 5px;
        padding-bottom: 0px;
        img{
          width: 150px;
          height: auto;
        }
      }
    }
    &--section2{
      display: inline-block;
      padding: 10px 20px 10px 50px;
      background: url(../images/message-icon.svg) 5px 50% no-repeat;
      background-size: 30px;
      margin-right: 50px;
      a{
        text-decoration: none;
        color: $black;
        font-weight: bold;
      }
    }
    &--section3{
      padding: 5px;
    }
  }
}
