.footer{
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  &__section {
    &--section1{
      .red{
        color: $red;
      }
    }
    &--section2 {
      ul{
        list-style: none;
        display: flex;
        li{
          padding: 0 20px;
          img{
            height: 40%;
          }
        }
      }
    }
    &--section3{
      a{
        text-decoration: none;
        color: $red;
      }
    }
  }
}
