{% extends "templates-site" %}
{% block content %}
  {% include "organisms-aamc-block1" %}
  {% include "organisms-aamc-block2" %}
  {% include "organisms-aamc-block3" %}
  {% include "organisms-aamc-block4" %}
  {% include "organisms-aamc-block5" %}
  {% include "organisms-aamc-block6" %}
  {% include "organisms-aamc-block7" %}
  <div class="other-recent-projects full-height">
    <div class="other-recent-projects--title">
      <h3>Other Recent Projects</h3>
    </div>
    {% include "organisms-aamc-block8" %}
  </div>
{% endblock %}


