{% extends "templates-site" %}
{% block content %}
  <div class="azim-premji-foundation full-height">
    <div class="azim-premji-foundation--title">
      <h2>Enabling Educators at </br> Azim Premji Foundation</h2>
    </div>
    {% include "organisms-apf-block1" %}
  </div>
  {% include "organisms-apf-block2" %}
  {% include "organisms-apf-block3" %}
  {% include "organisms-apf-block4" %}
  {% include "organisms-apf-block5" %}
  {% include "organisms-apf-block6" %}
  {% include "organisms-apf-block7" %}
  {% include "organisms-apf-block8" %}
  <div class="other-recent-projects full-height">
    <div class="other-recent-projects--title">
      <h3>Other Recent Projects</h3>
    </div>
    {% include "organisms-aamc-block8" %}
  </div>
{% endblock %}


