{% extends "templates-site" %}
{% block content %}
  {% include "organisms-radegast-block1" %}
  {% include "organisms-radegast-block2" %}
  {% include "organisms-radegast-block3" %}
  <div class="discovery">
    <div class="discovery__headline">
      <h3>Let’s have a closer look on RADEGAST, one of our SAB Miller project...</h3>
    </div>
    {% include "organisms-radegast-block4" %}
  </div>
  {% include "organisms-radegast-block5" %}
  <div class="our-approach">
    <div class="our-approach__headline">
      <h3>RADEGAST was one of the SAB projects where-in we took care of everything from design inception to delivery.</h3>
    </div>
    {% include "organisms-radegast-block6" %}
  </div>
  {% include "organisms-radegast-block7" %}
  {% include "organisms-radegast-block8" %}
  {% include "organisms-radegast-block9" %}
  {% include "organisms-radegast-block10" %}
  {% include "organisms-radegast-block11" %}
  {% include "organisms-radegast-block12" %}
  {% include "organisms-radegast-block13" %}
  <div class="other-recent-projects full-height">
    <div class="other-recent-projects--title">
      <h3>Other Recent Projects</h3>
    </div>
    {% include "organisms-aamc-block8" %}
  </div>
{% endblock %}


