@font-face {
  font-family: 'MuseoSans300';
  src: url("../fonts/MuseoSans/MuseoSans300/MuseoSans-300.woff2") format("woff2"), url("../fonts/MuseoSans/MuseoSans300/MuseoSans-300.woff") format("woff"); }

@font-face {
  font-family: 'MuseoSans700';
  src: url("../fonts/MuseoSans/MuseoSans700/MuseoSans-700.woff2") format("woff2"), url("../fonts/MuseoSans/MuseoSans700/MuseoSans-700.woff") format("woff"); }

@font-face {
  font-family: 'MuseoSans900';
  src: url("../fonts/MuseoSans/MuseoSans900/MuseoSans-900.woff2") format("woff2"), url("../fonts/MuseoSans/MuseoSans900/MuseoSans-900.woff") format("woff"); }

/*------------------------------------*    $RESET
\*------------------------------------*/
/* Border-Box http:/paulirish.com/2012/box-sizing-border-box-ftw/ */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, legend, label, table, header, footer, nav, section, figure {
  margin: 0;
  padding: 0; }

header, footer, nav, section, article, hgroup, figure {
  display: block; }

/*------------------------------------*    $VARIABLES
\*------------------------------------*/
.full-height {
  height: 100vh; }

.scroll-more-image {
  background-image: url(../images/mouse.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 70px; }

.socialshare--icon-1 a, .socialshare--icon-2 a, .socialshare--icon-3 a {
  display: inline-block;
  background: url("../images/socialshares-sprites.png") no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left; }

.socialshare--icon-1 a {
  background-position: -10px -52px;
  width: 8px;
  height: 16px; }

.socialshare--icon-2 a {
  background-position: -10px -0px;
  width: 19px;
  height: 16px; }

.socialshare--icon-3 a {
  background-position: -10px -26px;
  width: 16px;
  height: 16px; }

.panel-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
  .panel-col.panel-col-2--5-0 .pane-col1 {
    width: 50%; }
  .panel-col.panel-col-2--5-5 .pane-col {
    width: 50%; }
  .panel-col.panel-col-3--3-3-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    .panel-col.panel-col-3--3-3-3 .pane-col {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      -ms-flex-preferred-size: 33.333333%;
      flex-basis: 33.333333%; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px 5px; }
  .header__section--section1 {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .header__section--section1 a {
      display: block;
      padding: 5px;
      padding-bottom: 0px; }
      .header__section--section1 a img {
        width: 150px;
        height: auto; }
  .header__section--section2 {
    display: inline-block;
    padding: 10px 20px 10px 50px;
    background: url(../images/message-icon.svg) 5px 50% no-repeat;
    background-size: 30px;
    margin-right: 50px; }
    .header__section--section2 a {
      text-decoration: none;
      color: #000;
      font-weight: bold; }
  .header__section--section3 {
    padding: 5px; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 20px 0; }
  .footer__section--section1 .red {
    color: #dd0031; }
  .footer__section--section2 ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer__section--section2 ul li {
      padding: 0 20px; }
      .footer__section--section2 ul li img {
        height: 40%; }
  .footer__section--section3 a {
    text-decoration: none;
    color: #dd0031; }

.taking-digital-forward {
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }
  .taking-digital-forward__title {
    text-transform: uppercase;
    font-size: 80px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-family: 'MuseoSans900'; }
  .taking-digital-forward__subtitle {
    font-size: 14px;
    color: #fff;
    font-family: 'MuseoSans300'; }
  .taking-digital-forward__image {
    position: absolute;
    bottom: 34px;
    left: calc(50% - 10px); }
    .taking-digital-forward__image img {
      width: 100%;
      height: auto; }
  .taking-digital-forward .red {
    font-size: 80px;
    color: #dd0031; }

.drupal-experts {
  background: url(../images/drupal.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .drupal-experts .pane-col1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 70px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: left;
    -ms-flex-align: left;
    align-items: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .drupal-experts .pane-col1 h3 {
      color: #fff;
      font-size: 23px;
      margin-bottom: 30px;
      font-family: 'MuseoSans700'; }
    .drupal-experts .pane-col1 p {
      width: 60%;
      line-height: 29px;
      color: #fff;
      margin-bottom: 30px;
      font-family: 'MuseoSans300'; }
    .drupal-experts .pane-col1 a {
      text-decoration: none;
      color: #fff;
      font-family: 'MuseoSans300'; }

.design-thinking .pane-col1,
.design-thinking .pane-col3 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 0 40px 40px 40px; }
  .design-thinking .pane-col1 h3,
  .design-thinking .pane-col3 h3 {
    margin-bottom: 30px;
    color: #fff;
    font-size: 26px;
    font-family: 'MuseoSans900'; }
  .design-thinking .pane-col1 p,
  .design-thinking .pane-col3 p {
    margin-bottom: 30px;
    font-size: 17px;
    line-height: 22px;
    color: #fff;
    font-family: 'MuseoSans300'; }
  .design-thinking .pane-col1 a,
  .design-thinking .pane-col3 a {
    border-bottom: 1px solid white;
    text-decoration: none;
    color: #fff;
    font-family: 'MuseoSans700'; }

.design-thinking .pane-col1 {
  background-image: url(../images/aamc.jpg); }

.design-thinking .pane-col3 {
  background-image: url(../images/sabmiller.jpg); }

.design-thinking .pane-col2 {
  background-color: #707582;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 40px 40px 40px; }
  .design-thinking .pane-col2 h3 {
    margin-bottom: 30px;
    color: #fff;
    font-size: 26px;
    font-family: 'MuseoSans900'; }
  .design-thinking .pane-col2 p {
    margin-bottom: 30px;
    font-size: 17px;
    line-height: 22px;
    color: #fff;
    font-family: 'MuseoSans300'; }
  .design-thinking .pane-col2 a {
    text-decoration: none;
    color: #fff;
    font-family: 'MuseoSans700'; }

.our-clients {
  background-color: #eeece9; }
  .our-clients .pane-col1 {
    padding: 40px; }
    .our-clients .pane-col1 .clients-logo__wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .our-clients .pane-col1 .clients-logo__wrapper .clients-logo {
        width: 33.333333%;
        -ms-flex-preferred-size: 33.333333%;
        flex-basis: 33.333333%;
        padding: 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .our-clients .pane-col1 .clients-logo__wrapper .clients-logo img {
          max-width: 100%; }

.happy-clients .pane-col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 140px 70px 0 70px;
  font-size: 34px;
  font-family: 'MuseoSans900'; }
  .happy-clients .pane-col1 .red {
    text-decoration: none;
    color: #dd0031;
    font-size: 33px;
    font-family: 'MuseoSans300'; }

.us-election {
  background-color: #fafafa; }
  .us-election .pane-col1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 80px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: left;
    -ms-flex-align: left;
    align-items: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .us-election .pane-col1 h3 {
      width: 85%;
      color: #2a3272;
      font-size: 50px;
      margin-bottom: 20px;
      font-family: 'MuseoSans900'; }
    .us-election .pane-col1 p {
      width: 70%;
      line-height: 29px;
      color: #000;
      margin-bottom: 40px;
      font-size: 16px;
      font-family: 'MuseoSans300'; }
    .us-election .pane-col1 a {
      text-decoration: none;
      color: #000;
      font-size: 14px;
      font-family: 'MuseoSans700'; }
  .us-election .pane-col2 img {
    width: 100%;
    height: 100%; }

.enhanced-sabmiller {
  background: url(../images/bg_sabmiller.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .enhanced-sabmiller .pane-col1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 80px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: left;
    -ms-flex-align: left;
    align-items: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .enhanced-sabmiller .pane-col1 h3 {
      width: 60%;
      color: #fff;
      font-size: 50px;
      margin-top: 60px;
      margin-bottom: 20px;
      font-family: 'MuseoSans900'; }
    .enhanced-sabmiller .pane-col1 p {
      width: 40%;
      line-height: 29px;
      color: #fff;
      margin-bottom: 50px;
      font-size: 16px;
      font-family: 'MuseoSans300'; }
    .enhanced-sabmiller .pane-col1 a {
      text-decoration: none;
      color: #fff;
      font-size: 14px;
      font-family: 'MuseoSans700'; }

/*# sourceMappingURL=style.css.map */
