{% extends "organisms-panel-2col-6-0" %}
{% set panel_class = 'enhanced-sabmiller full-height' %}
{% block col1 %}
  <h3>{{col1.title}}</h3>
  <p>{{col1.content}}</p>
  <a href="#">{{col1.link}}</a>
{% endblock %}
