{% extends "organisms-panel-2col-5-5" %}
{% set panel_class = 'helping-authors full-height' %}
  {% block col1 %}
    <h3>{{col1.title}}</h3>
    <p>{{col1.content}}</p>
    {% include 'atoms-link' with col1.viewLink %}
  {% endblock %}
  {% block col2 %}
    {% include 'atoms-image' with col2 %}
  {% endblock %}
