<div class="drinkasaur-app full-height">
  <div class="drinkasaur-app__title">
    <h2>{{title | raw}}</h2>
  </div>
  <div class="drinkasaur-app__shots">
    <div class="drinkasaur-app__shot1">
      {% include 'atoms-images' with shot1 %}
    </div>
    <div class="drinkasaur-app__shot2">
      {% include 'atoms-images' with shot2 %}
    </div>
    <div class="drinkasaur-app__shot3">
      {% include 'atoms-images' with shot3 %}
    </div>
  </div>
</div>

