<div class="drinkasaur-mobiles full-height">
  <div class="drinkasaur-mobiles__screenshot1">
    {% include 'atoms-image' with screenshot1 %}
  </div>
  <div class="drinkasaur-mobiles__screenshot2">
    {% include 'atoms-image' with screenshot2 %}
  </div>
  <div class="drinkasaur-mobiles__screenshot3">
    {% include 'atoms-image' with screenshot3 %}
  </div>
  <div class="drinkasaur-mobiles__screenshot4">
    {% include 'atoms-image' with screenshot4 %}
  </div>
</div>

