{% extends "organisms-panel-2col-3-7" %}
{% set panel_class = 'dashboard-experience full-height' %}
  {% block col1 %}
    {% include 'molecules-icon-link' %}
  {% endblock %}
  {% block col2 %}
    <h4>{{col2.title}}</h4>
    <p>{{col2.content}}</p>
  {% endblock %}


