<div class="upload-experience full-height">
  <div class="upload-experience__title">
    <h3>{{title}}</h3>
  </div>
  <div class="upload-experience__content">
    <p>{{content}}</p>
  </div>
  <div class="upload-experience__upload">
    <div class="upload-experience__upload-title">
      <h2>{{headline}}</h2>
    </div>
    <div class="upload-experience__upload-links">
      <div class="upload-experience__upload-link">
        {% include 'atoms-images' with link1 %}
      </div>
      <div class="upload-experience__upload-link">
        {% include 'atoms-images' with link2 %}
      </div>
      <div class="upload-experience__upload-link">
        {% include 'atoms-images' with link3 %}
      </div>
      <div class="upload-experience__upload-link">
        {% include 'atoms-images' with link4 %}
      </div>
    </div>
  </div>
</div>

