{% extends "organisms-panel-2col-5-5" %}
{% set panel_class = 'built-with-drupal full-height' %}
  {% block col1 %}
    {% include 'atoms-images' with drupal %}
    {% include 'atoms-images' with amazon %}
  {% endblock %}
  {% block col2 %}
    <p>{{content | raw }}</p>
    <h4>{{title}}</h4>
    <ul>
      <li>Views_conditional (Drupal 8 port)</li>
      <li>Views_Extras</li>
    </ul>
    <h4>{{subtitle}}</h4>
    <ul>
      <li>Better_exposed_filters</li>
      <li>Client-side hierarchical select</li>
    </ul>
  {% endblock %}
