<div class="taking-digital-forward full-height">
  <div class="taking-digital-forward__title">
    {{title | raw}}
  </div>
  <div class="taking-digital-forward__subtitle">
    {{subtitle}}
  </div>
  <div class="taking-digital-forward__icon">
    {% include "atoms-link" with iconLink %}
  </div>
</div>

