{% extends "organisms-panel-2col-5-0" %}
{% set panel_class = 'happy-clients full-height' %}
  {% block col1 %}
    <h3>{{col1.title}}</h3>
    {% include 'atoms-link' with col1.clients %}
  {% endblock %}
