.our-clients{
  background-color: #eeece9;
  .pane-col1{
    padding: 40px;
    .clients-logo__wrapper{
      display: flex;
      flex-wrap: wrap;
      .clients-logo{
        width: 33.333333%;
        flex-basis: 33.333333%;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
          max-width: 100%;
        }
      }
    }
  }
}
