<div class="social-share">
  <ul class="social-share-list">
    {% for socialShare in socialShares %}
      {%
      set socialshareClass=
      'socialshare--icon-'~loop.index
      %}
      <li class="{{socialshareClass}}" >
        {{ link(socialShare.title, socialShare.url) }}
      </li>
    {% endfor %}
  </ul>
</div>


