<div class="social-share">
	<ul class="social-share-list">
    {% for socialShare in socialShares %}
		  <li>{% include 'atoms-link' with socialShare %}{% include 'atoms-image' with socialShare.image %}</a></li>
    {% endfor %}
	</ul>
</div>
