@font-face {
  font-family: 'MuseoSans300';
  src: url('../fonts/MuseoSans/MuseoSans300/MuseoSans-300.woff2') format('woff2'),
       url('../fonts/MuseoSans/MuseoSans300/MuseoSans-300.woff') format('woff');
}

@font-face {
  font-family: 'MuseoSans700';
  src: url('../fonts/MuseoSans/MuseoSans700/MuseoSans-700.woff2') format('woff2'),
       url('../fonts/MuseoSans/MuseoSans700/MuseoSans-700.woff') format('woff');
}

@font-face {
  font-family: 'MuseoSans900';
  src: url('../fonts/MuseoSans/MuseoSans900/MuseoSans-900.woff2') format('woff2'),
       url('../fonts/MuseoSans/MuseoSans900/MuseoSans-900.woff') format('woff');
}
