/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

//Colors
$gray : #707582;
$white : #fff;
$black : #000;
$red: #dd0031;
$blue: #2a3272;
$offwhite: #fafafa;

