<div class="panel-col-2 panel-col-2--6-0 {{panel_class}}" >
  <div class="pane-col pane-col1 {{pane_class}} {{pane1_class}}">
    {% block col1 %}
      <h3>Col1</h3>
    {% endblock %}
  </div>
</div>
