<div class="enhanced-sabmiller full-height">
  <div class="enhanced-sabmiller__title">
    {{title | raw}}
  </div>
  <div class="enhanced-sabmiller__icon">
    {% include "molecules-icon-link" %}
  </div>
</div>

