{% extends "organisms-panel-2col-3-7" %}
{% set panel_class = 'our-approach full-height' %}
{% block col1 %}
  <h3>{{col1.title}}</h3>
{% endblock %}
{% block col2 %}
  <p>{{col2.content}}</p>
{% endblock %}
