{% extends "organisms-panel-2col-6-4" %}
{% set panel_class = 'aam-aadmi-mohalla-clinic full-height' %}
{% block col1 %}
  <img src="{{dir}}/{{col1.url}}" alt="">
{% endblock %}
{% block col2 %}
  <h3>{{col2.title}}</h3>
  {% include "molecules-icon-link" %}
{% endblock %}


