{% extends "organisms-panel-2col-3-7" %}
{% set panel_class = 'user-interface full-height' %}
  {% block col1 %}
    <h2>{{col1.numbers}}</h2>
  {% endblock %}
  {% block col2 %}
    <h3>{{col2.title}}</h3>
    <p>{{col2.content}}</p>
  {% endblock %}
